{% extends 'hello.html' %}

{% block ccs_js_img %}
<link href={{ url_for('posts.static', filename = 'css/style.css') }} rel="stylesheet" >
{% endblock %}

{% block title %}
 New_posts | index
{% endblock %}

{% block content %}
NEW page

    <div>title => {{ title }}</div>
    <div> text => {{ text }}</div>


    <form method="POST" action="{{ url_for('posts.new_posts') }}">
        {% for i in form %}
            {{ i.label }}
            {{ i }}
        {% endfor %}
        <button>Save</button>
    </form>
{##}
{#            {% for k, v in form %}#}
{#                {{ k }}#}
{#                {{ v }}#}
{#            {% endfor %}#}


{% endblock %}